@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.background-container {
    position: fixed;
    top: -200px;
    transform: rotate(180deg);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Para garantir que o conteúdo da página fique acima do fundo desfocado */
    filter: blur(100px); /* Aplica o efeito de desfoque */
    background-image: url('./assets/fumaca.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilo adicional para o conteúdo da página */
body {
    font-family: "inter", sans-serif;
    background-color: #2f2d43;
}

header {
    background-color: #dcdde10c;
    padding: 10px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-family: "Inter";
}

.resultado-title {
    display: flex;
    /* width: 250px; */
}

#resultado {
    color: #fff941;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adc {
    width: 1200px;
    height: 100%;
    background-color: #ffffff17;
    margin: 10px auto;
    border-radius: 5px;
    border: 2px solid #ffffff25;
}

.adc div {
    height: 30px;
    padding: 10px;
    color: #FFF;
    display: flex;
    background-color: #2f2d43b0;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid #ffffff34;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adc .title-adc {
    background-color: rgba(194, 194, 194, 0);
    border: none;
    width: 1150px;
    display: flex;
    align-items: center;
}

.title-adc p {
    color: #FFF;
}

.icon-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-flex img {
    width: 60px;
    height: 60px;
}

.icon-flex h1 {
    font-weight: 500;
}

main {
    width: 1200px   ;
    margin: 40px auto;
    align-items: center;
    justify-content: center;    
}

main .form_orcamento {
    width: 100%;
    margin: auto;
    justify-content: space-around;
    display: flex;
    border: 2px solid #ffffff2a;
    padding: 10px 0px;
    border-radius: 5px;
    background-color: #ffffff1b;
}

.input-ini {
    width: 400px;
    /* background-color: #636a8108; */
    display: flex;
    padding: 10px;
    font-family: "inter", sans-serif;
    border-radius: 5px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

label {
    margin-right: 20px;
    color: #FFF;
    font-size: 20px;
}

input {
    width: 200px;
    height: 30px;
    font-size: 20px;
    color: #FFF;
    border: 2px solid #ffffff77;
    border-radius: 5px;
    padding: 5px;
    background-color: #636a8108;
}

.orcar {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin:  30px auto;
    background-color: #636a8108;
    transition: 0.5s;
    border: 2px solid #ffffff7b;
    border-radius: 5px;
    color: #ffffff7f;
    font-family: "inter", sans-serif;
    font-size: 18px;
}

.orcar:hover {
    background-color: #01ad5a;
    color: #fff;
    cursor: pointer;
}

p {
    color: #02d06c;
    display: flex;
    justify-content: center;
    align-items: center;
}
